@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
$f1 : 'Montserrat',
sans-serif;
$f2: 'Russo One', sans-serif;
$f3 :'Nanum Gothic Coding', cursive; ;
* {
    padding: 0;
    margin: 0;
}

body{
    font-family: $f1;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vmin;
    padding: 0 4%;
    border-radius: 4vmin;
    margin: 5%;

    h2 {
        font-family: $f2;
        font-size: 8vmin;
        background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

    }

    img {
        width: 7vmin;
        transform: rotateY(190deg);
    }

}

.A{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 4%;
    h3{
        font-family: $f3;
        width: 93%;
        font-size: medium;
        white-space: nowrap;
        border-right: 2px solid rgb(0, 132, 255);
        animation: typing 3s steps(40) ,blink 1s infinite step-end;
        overflow: hidden;
    }
    .A-images{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    #main-img{
        width: 90%;
        margin-top: 3%;
    }
}
@keyframes typing {
    from{
        width: 0%;
    }
}
@keyframes blink {
    50%{
        border-color: transparent;
    }
}