@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

$f1 : 'Montserrat',
sans-serif;
$f2: 'Russo One', sans-serif;
$f3:'Nanum Gothic Coding', cursive;
* {
    padding: 0;
    margin: 0;
}

body{
    
    font-family: $f1;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vmin;
    padding: 0 4%;


    h2 {
        font-family: $f2;
        font-size: 8vmin;
        background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

    }

    img {
        width: 7vmin;
        transform: rotateY(190deg);
    }

}

.A{
    margin-top: 4px;

    h3{
    font-family:$f3;
    font-size: large;
    border-right: 2px solid red;
    width:52ch;
    animation: typing steps(52) 3s , blink 1s infinite  ;
    overflow: hidden;
    height: 5vmin;
    white-space: nowrap;
    }
    
}
@keyframes typing {
    from{
        width: 0;
    }
}
@keyframes blink {
    50%{
        border-color: transparent;
    }
}